@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 22px 25px 22px 25px;
  margin-top: 60px;
  height: auto;
}
.footer__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-family: "Roboto-light";
  padding: 0;
  gap: 8px;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
}
.footer__ul li {
  padding-bottom: 5px;
}
.footer__ul i {
  padding-right: 5px;
}
.footer__ul__link {
  color: white;
  font-size: 18px;
}

header {
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav {
  width: 100%;
  height: auto;
}
header .logo {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 162px; /* Reduire taille logo */
  height: auto;
}

.location {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduction__title {
  text-align: center;
  margin: 10px;
}
.introduction__text {
  font-size: 18px;
  text-align: center;
  margin: 21px 0 0 0;
  padding: 2px;
}
.introduction a {
  display: inline-block;
  margin: 31px 0px 57px 0px;
}

.functioning__title {
  padding-left: 20px;
  margin-bottom: 15px;
}
.functioning__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.functioning__list__item {
  width: 100%;
  margin: 15px 45px 15px 45px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
}
.functioning__list__item__number {
  margin-left: -25px;
  margin-right: 25px;
  flex-shrink: 0;
}
.functioning__list__item__text {
  align-items: center;
  justify-content: center;
  margin-left: 22px;
}
.functioning i {
  color: #7E7E7E;
}

.restaurants {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.restaurants__title {
  padding: 40px 0px 20px 20px;
}
.restaurants__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px; /* Espace entre les cartes hébergments */
  margin: 17px;
}
.restaurants__card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.restaurants__card img {
  width: 100%;
  height: 148px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__card__infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.restaurants__card__infos__column1 {
  padding-left: 15px;
}
.restaurants__card__infos__column1 h3 {
  margin-top: 10px;
}
.restaurants__card__infos__column1 p {
  margin-bottom: 12px;
}
.restaurants__card__infos__column2 {
  margin-left: 150px;
  align-items: center;
  margin-top: 15px;
}

.image img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  height: auto;
  width: 100%;
  margin-top: 135px;
  box-sizing: border-box;
  border-radius: 35px;
  background-color: #f2f2f2;
}
.menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  margin: 32px 0px 20px 15px;
  font-weight: 400;
}
.menu h2 {
  padding: 20px 0px 20px 13px;
}
.menu__list__name {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding-left: 10px;
}
.menu__list__name__column1 {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.menu__list__name__column2 {
  margin-right: 36px;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */