.btn {
    display: inline-block;
    padding: 15px 30px; 
    font-size: 18px; /* Ajustez la taille de la police selon vos besoins */
    background-color: rgb(191, 50, 50);
    color: #fff; /* Couleur du texte */
    text-decoration: none; 
    border-radius: 30px; 
}