// Animation coeurs de la page home

.restaurants__card__infos__column2 {

   

    i {
        position: absolute;
        right: 25px;
        font-size: 25px;
        cursor: pointer;
    


    }

    .my-heart-full {
        
        transition-duration: 500ms;
        opacity: 0;
    }


    .my-heart-full:hover {
        opacity: 1;
        color: transparent;
        background-image: linear-gradient($purple, $pink);
        background-clip: text;
    }
}
// Animation coeurs des pages restaurants

.like {

    i {
        position: absolute;
       margin-left: 20px;
        font-size: 30px;
        cursor: pointer;
        


    }

    .my-heart-full {
        opacity: 0;
        transition-duration: 500ms;

    }

    .my-heart-full:hover {
        opacity: 1;
        color: transparent;
        background-image: linear-gradient($purple, $pink);
        background-clip: text;
        
    }
}

