.loader-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load 600ms 2s forwards ease-in-out;

  
  inset: 0; //  définir top right left bottom
  z-index: 1;
  pointer-events: none; 
  background-color:rgba(255,255,255,0.8);
  
  .cook {
  animation: spin 5s ease-in-out;
  color: black;
  font-size: 50px;
  border-radius: 50%;
  background:linear-gradient($purple,$pink);
  
 
  

  
  
  
  
  }
  
  }
  @keyframes load {
    from {
    
      opacity: 1;
       
    }
  
    to {
      
      opacity: 0;
       
    }
  }
  
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
  
    33% {
        transform: rotate(360deg);
    }
    
    66% {
        transform: rotate(0deg);
    }
  
    100% {
        transform: rotate(360deg);
    
     
    }
  }


// Menus animations

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #animation1,
  #animation2,
  #animation3 {
    opacity: 0;
    animation: fadeIn 800ms forwards;
  }
  #animation1{
    animation-delay: 0.5s;
  }
  
  #animation2 {
    animation-delay: 1s;
  }
  
  #animation3 {
    animation-delay: 1.5s;
  }