.location {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    i {
      margin-right: 15px;
    }
  
  }
.introduction {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    
    text-align: center;
    margin: 10px;
  }

  &__text{

    font-size: 18px;
    text-align: center;
    margin: 21px 0 0 0;
    padding: 2px;

  }    

  a {
    display: inline-block;
    margin: 31px 0px 57px 0px;
  }
}

// SECTION FONCTIONNEMENT

.functioning {
  &__title {
    padding-left: 20px;
    margin-bottom: 15px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &__list__item {
    width: 100%;
    margin:15px 45px 15px 45px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
  }

  &__list__item__number {

    margin-left: -25px;
    margin-right: 25px;
    flex-shrink: 0;
    

 }
 &__list__item__text {
  align-items: center;
  justify-content: center;
  margin-left: 22px;
 }
i {
  color:#7E7E7E;
}
}


// SECTION RESTAURANTS

.restaurants {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #f2f2f2;
  
    &__title {
      padding : 40px 0px 20px 20px;
      
    }
    &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px; /* Espace entre les cartes hébergments */
    margin: 17px;
   
    
}
  &__card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

  }

  &__card__image {
    height: 148px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;

  }

    &__card img {

    width: 100%;
    
  }
  
    &__card__infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    
  }
    &__card__infos__column1 {
      padding-left: 15px;
    
  }

    &__card__infos__column1 h3
    {
      margin-top: 10px;
    }

    &__card__infos__column1 p {

      margin-bottom: 12px;

  }
    &__card__infos__column2 {
    margin-left: 150px;
    align-items: center;
    margin-top: 15px;
  }

  }



