//fonts
$shrikhand-font: 'Shrikhand', cursive;
$roboto-font: 'Roboto', sans-serif;



//color
$black_color : #000;
$lightblue:#89C8FA;
$darkblue: #003A68;
$purple:#9356DC;
$pink:#FF79DA;
$white:#ffffff;
$grey:#7E7E7E;
$lightgreen:#99E2D0;